<%= unless Enum.empty?(@tuples) do %>
  <table>
    <thead>
      <tr>
        <th><span>Value</span></th>
      </tr>
    </thead>
    <tbody>
      <%= for tuple <- @tuples do %>
        <tr>
          <td><%= HtmlEntities.encode inspect(tuple) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="empty">
    No data found.
  </div>
<% end %>